<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock title %}</title>

    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"
    />
  </head>
  <body style="height:100%; margin:0;">
    <div style=" min-height:200vh; margin-bottom:-50px;">
      {% block content %} {% endblock content %}

    </div>

      <footer class="footer has-background-black">
        <div class="content has-text-centered">
        <p>Copy Right of Anees Baloch</p>
        </div>
      </footer>
<!-- footer -->
    <!-- ionicicons -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
