{% extends 'gptapp/base.html' %}
{% block title %}Create Account {% endblock title %}
{% block content %}
<section class="section">
  <di class="columns">
    <div class="column is-half is-offset-one-quarter">
      <!-- display messages -->
      {% if messages %}
        {% for message in messages %}
          <article class="message is-warning">
            <div class="message-body">
              {{message}}
            </div>
          </article>
        {% endfor %}
      {% endif %}
      <div class="box">
        <h3 class="title is-3 has-text-centered">Create Account</h3>
        <form action="{% url 'create_account'%}" method="post">
          {% csrf_token %}
          <div class="field">
            <label class="label" for="username">Username</label>
            <div class="control has-icons-left has-icons-right">
              <input
                type="text"
                name="username"
                class="input"
                placeholder="Username"
                required
              />
              <span class="icon is-small is-left">
                <ion-icon name="person-outline"></ion-icon>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label" for="Email">Email</label>
            <div class="control has-icons-left has-icons-right">
              <input
                type="email"
                name="email"
                class="input"
                placeholder="Email"
                required
              />
              <span class="icon is-small is-left">
                <ion-icon name="mail-outline"></ion-icon>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label" for="password">Password</label>
            <div class="control has-icons-left has-icons-right">
              <input
                type="password"
                name="password"
                class="input"
                placeholder="Password"
                required
              />
              <span class="icon is-small is-left">
                <ion-icon name="lock-closed-outline"></ion-icon>
              </span>
            </div>
          </div>

          <div class="control">
            <div class="is-flex is-justify-content-center">
              <button class="button has-background-success-50" type="submit">
                Enter
              </button>
            </div>
            <p class="help has-text-centered">
              If you have already an account
              <a href="{% url 'login_user'%}">Click here</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </di>
</section>
{% endblock content %}
