{% extends 'gptapp/base.html'%}
{% block title %}home{% endblock title%}

{% block content%}
  <body style="height: 100vh;">
    <div class="tabs is-centered">
      <ul class="mt-1">
        <li>
          <a href="{% url 'home'%}">
            <span class="icon is-size-3">
              <ion-icon name="home-outline"></ion-icon>
            </span>
          </a>
        </li>
        {% if request.user.is_authenticated %}
        <li>
          <a href="{% url 'logout_user' %}">
            <span class="icon is-size-3">
              <ion-icon name="person-remove-outline"></ion-icon>
            </span>
          </a>
        </li>
        {% else %}
        <li>
          <a href="{% url 'create_account' %}">
            <span class="icon is-size-3">
              <ion-icon name="person-add-outline"></ion-icon>
            </span>
          </a>
        </li>

        <li>
          <a href="{% url 'login_user' %}">
            <span class="icon is-size-3">
              <ion-icon name="person-outline"></ion-icon>
            </span>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
    <div class="container">
      <div class="columns my-6">
        <div class="column is-11 is-offset-1">
          <h2 class="title is-1 is-size-3-mobile is-family-code">ChatBuddy</h2>
          <div class="mb-3 py-4">
            <form
              hx-post="{% url 'home' %}"
              hx-swap="outerHTML"
              hx-target="#response"
            >
              {% csrf_token %}
              <label for="prompt" class="is-size-5"
                ><strong>Prompt: </strong></label
              >
              <textarea
                class="textarea is-size-5"
                placeholder="Start Chat With ChatBuddy :)"
                id="prompt"
                name="prompt"
                row="10"
                style="background-color: rgba(255, 242, 217);"
              ></textarea>

              <div class="is-flex is-justify-content-center">
                <button
                  class="button is-outlined has-background-warning-70 has-text-warning-25 my-3 is-large px-6"
                  type="submit"
                >
                  <span class="span-text"
                    ><span class="icon"
                      ><ion-icon
                        name="chatbubble-ellipses-outline"
                      ></ion-icon></span
                  ></span>
                </button>
              </div>
            </form>
          </div>

          <div>
            <h6 class="subtitle has-text-black-bis has-text-weight-bold">
              Response:
            </h6>
            <div class="container" id="response"></div>
          </div>
        </div>
      </div>
      <br />
    </div>

    <!-- htmx link -->
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>

    <!-- ionicicons -->
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
{% endblock content %}
