{% extends 'gptapp/base.html'%} {% block title %}Login User{% endblock title %}
{% block content %}
<!-- login form -->
<section class="section">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      {% if messages %}
        {% for message in messages %}
          <article class="message has-background-danger-55">
            <div class="message-body">
              {{message}}
            </div>
          </article>
        {% endfor %}
      {% endif %}
      <div class="box">
        <h3 class="title is-3 has-text-centered">Login</h3>
        <form action="{% url 'login_user'%}" method="post">
          {% csrf_token %}
          <div class="field">
            <label class="label" for="username">Username</label>
            <p class="control has-icons-left has-icons-right">
              <input
                class="input"
                type="text"
                required
                placeholder="Username"
                name="username"
                required
              />
              <span class="icon is-small is-left">
                <ion-icon name="person-outline"></ion-icon>
              </span>
            </p>
          </div>
          <div class="field">
            <label for="password" class="label">Password</label>
            <p class="control has-icons-left has-icons-right">
              <input class="input" type="password" placeholder="Password" name="password" required />
              <span class="icon is-small is-left">
                <ion-icon name="lock-closed-outline"></ion-icon>
              </span>
            </p>
          </div>
          <div class="field">
            <div class="control is-flex is-justify-content-center">
              <button class="button has-background-success-40 is-outlined" type="submit" name="button"> Submit</button>
            </div>
            <p class="help has-text-centered">If you don't have account <a href="#">click here</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
