{% extends 'gptapp/base.html'%} {% block content %}
<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  "
>
  <div class="columns">
    <div class="column is-11 is-offset-1">
      <p class="is-size-4 has-text-centered">
        Welcome to <strong class="has-text-link-60">ChatBuddy</strong> a Ai
        powerd chating friend of your's.
      </p>
      <div class="is-flex is-justify-content-center py-5">
        <a class="button is-black is-large mx-2" href="{% url 'login_user'%}"
          >Login</a
        >
        <a class="button is-black is-large" href="{% url 'create_account'%}"
          >Create Account</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock content %}
